@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  font-weight: bold;
}

.btn {
  background-color: hsl(0deg, 0%, 100%);
  border-color: hsl(0deg, 0%, 86%);
  border-width: 1px;
  color: hsl(0deg, 0%, 21%);
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.btn--primary {
  background-color: hsl(171deg, 100%, 41%);
  border-color: transparent;
  color: #fff;
}
